<div>
    <h1> Plane  </h1>
    <h3>Dear, {{$ctrl.passenger.firstName || "tester"}}, please pick your seat</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Plane configuration</div>
        <div class="panel-body">
            <pre>{{$ctrl.plane.rows}}</pre>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th ng-repeat="cols in $ctrl.planeArr[0]">{{$index}}</th>
        </tr>
        <tr ng-repeat="row in $ctrl.planeArr">
            <!--<th>{{col}}</th>-->
            <td ng-repeat="col in row">{{col}}</td>

    </table>
</div>