<div class="col-md-6">
    <h1> Login page  </h1>
    <form novalidate>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input id="firstName" type="text" class="form-control" name="firstName" ng-model="$ctrl.firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input id="lastName" type="text" class="form-control" name="lastName" ng-model="$ctrl.lastName" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="email" class="form-control" name="email" ng-model="$ctrl.email" required>
        </div>
        <button ng-click="$ctrl.login()"> Login </button>
    </form>
</div>